.canister 
{
   width:1250px;
   margin-left: auto;
   margin-right: auto;
   border-radius:3px;
   box-shadow:-1px -1px 2px 2px rgba(0,0,0,0.15);
   background:#FFFFFF;
}
.canistercontainer 
{
    padding:10px;
}
.canistertitle h2, .canistertitle 
{
    margin-left: auto;
    margin-right: auto;
	margin:0;
    padding:0px 0 0px 0;
}
.canistertitle 
{
	margin-left: auto;
    margin-right: auto;
    text-align:center;
    border:2px solid #330066;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    background-color:#330066;
    color:White;
    height:40px;
    font-size:10pt;
   
}
.minustopmarg 
{
    margin-top:20px;   
}
.full 
{
    width:250px !important;   
}
.tablecontainer 
{
    margin-left: auto;
    margin-right: auto; 
    width:1250px;
}

.canistertable {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px -1px 2px 2px rgba(0,0,0,0.15);
        background:#FFFFFF;
    }