table
{
    font-family: Franklin Gothic Medium,Helvetica,Arial,sans-serif;
    text-align: center;
    position: relative;
    empty-cells: show;
	border-spacing: 1px;
    border-collapse: separate;
	overflow:hidden;
}
.testTable {
	-moz-border-radius-topright:22px;
-webkit-border-top-right-radius:22px;
border-top-right-radius:22px;

-moz-border-radius-topleft:22px;
-webkit-border-top-left-radius:22px;
border-top-left-radius:22px;

	-moz-border-radius-bottomright:22px;
-webkit-border-bottom-right-radius:22px;
border-bottom-right-radius:22px;

-moz-border-radius-bottomleft:22px;
-webkit-border-bottom-left-radius:22px;
border-bottom-left-radius:22px;
border-bottom: 1px solid  #c1c1c1;
border-right: 1px solid  #c1c1c1;

-webkit-box-shadow: 6px 7px 5px 0px rgba(148,148,148,0.65);
-moz-box-shadow: 6px 7px 5px 0px rgba(148,148,148,0.65);
box-shadow: 6px 7px 5px 0px rgba(148,148,148,0.65);
}
.testTable th,  .top_table_style {
border:1px solid  #c1c1c1;
background:-o-linear-gradient(bottom, #600060 5%, #a801a8 100%); background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #600060), color-stop(1, #a801a8) );
background:-moz-linear-gradient( center top, #600060 5%, #a801a8 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#600060", endColorstr="#a801a8"); background: -o-linear-gradient(top,#600060,a801a8);
color:#fff;
}

.row_table_style, .testTable td {
	width:9.01%;
	background-color:#F8F8F8;
	border-bottom: 1px dotted #c1c1c1;
}