table
{
    font-family: Franklin Gothic Medium,Helvetica,Arial,sans-serif;
    text-align: center;
    position: relative;
    empty-cells: show;
	border-spacing: 1px;
    border-collapse: separate;
	overflow:hidden;
}
.testTable {
width:1250px;
    border:1px solid #ffffff;
	border-radius:1px;
    opacity: 0.90;
    left:200px;  
}
.testTable th,  .top_table_style {
border:1px solid  #c1c1c1;
background:-o-linear-gradient(bottom, #85878e  5%, #b6b7bc  100%); background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #85878e ), color-stop(1, #b6b7bc ) );
background:-moz-linear-gradient( center top, #85878e  5%, #b6b7bc 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#85878e ", endColorstr="#b6b7bc "); background: -o-linear-gradient(top,#85878e ,#b6b7bc );
color:#fff;
}

.inputs 
{
    position: relative;
    left: 5%;
    top: 63%;
    text-align:left;
    font-size:1em;
    background-color: #F7F7F0;
}
.box_class {
    /*-moz-border-radius-topright:22px;
    -webkit-border-top-right-radius:22px;
    border-top-right-radius:22px;

    -moz-border-radius-topleft:22px;
    -webkit-border-top-left-radius:22px;
    border-top-left-radius:22px;

	-moz-border-radius-bottomright:22px;
    -webkit-border-bottom-right-radius:22px;
    border-bottom-right-radius:22px;

    -moz-border-radius-bottomleft:22px;
    -webkit-border-bottom-left-radius:22px;
    border-bottom-left-radius:22px; */
    
    border: 3px solid #c1c1c1;
    width: 1150px;
	background-color:#F7F7F0;
	padding: 10px;
}
.box_bottom_class {
    /*-moz-border-radius-topright:22px;
    -webkit-border-top-right-radius:22px;
    border-top-right-radius:22px;

    -moz-border-radius-topleft:22px;
    -webkit-border-top-left-radius:22px;
    border-top-left-radius:22px;

	-moz-border-radius-bottomright:22px;
    -webkit-border-bottom-right-radius:22px;
    border-bottom-right-radius:22px;

    -moz-border-radius-bottomleft:22px;
    -webkit-border-bottom-left-radius:22px;
    border-bottom-left-radius:22px; */
    
    border: 3px solid #c1c1c1;
    text-align: center;
    width: 1150px;
	background-color: #f9f9f6;
	padding: 10px;
}

.row_table_style, .testTable td {
	width:9.01%;
	background-color:#F8F8F8;
	border-bottom: 1px dotted #c1c1c1;
}
#selectable-session .ui-selecting { 
	background: #B531B5; 
}
#selectable-session .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-session { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-session li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-arrangement .ui-selecting { 
	background: #B531B5; 
}
#selectable-arrangement .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-arrangement { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair .ui-selecting { 
	background: #B531B5; 
}
#selectable-wheelchair .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-wheelchair { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard .ui-selecting { 
	background: #B531B5; 
}
#selectable-whiteboard .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-whiteboard { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector .ui-selecting { 
	background: #B531B5; 
}
#selectable-projector .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-projector { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser .ui-selecting { 
	background: #B531B5; 
}
#selectable-visualiser .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-visualiser { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer .ui-selecting { 
	background: #B531B5; 
}
#selectable-computer .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-computer { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video .ui-selecting { 
	background: #B531B5; 
}
#selectable-video .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-video { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa .ui-selecting { 
	background: #B531B5; 
}
#selectable-pa .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-pa { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic .ui-selecting { 
	background: #B531B5; 
}
#selectable-mic .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-mic { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture .ui-selecting { 
	background: #B531B5; 
}
#selectable-capture .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-capture { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-priority .ui-selecting { 
	background: #B531B5; 
}
#selectable-priority .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-priority { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-priority li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*room preference 2*/
#capacity2
{
    background-color : #F9F9F7;
}
#slider-capacity2 {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}
#selectable-wheelchair2
{
    width: 200px;
}
#selectable-arrangement2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-arrangement2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-arrangement2 { 
	display:inline; list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement2 li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-wheelchair2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-wheelchair2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-whiteboard2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-whiteboard2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-projector2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-projector2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-visualiser2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-visualiser2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-computer2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-computer2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-video2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-video2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-pa2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-pa2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-mic2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-mic2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-capture2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-capture2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-priority .ui-selecting { 
	background: #B531B5; 
}
#selectable-priority .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-priority { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-priority li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*Day*/
#selectable-day .ui-selecting { 
	background: #F9F9F7; 
}
#selectable-day .ui-selected { 
	background: #9D009D; color: white; 
}
#selectable-day { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; background: #F9F9F7; 
}
#selectable-day li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*week checkbox*/
.vis-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#week {
  margin: 10px;
  padding: 5px;
  border: 1px solid #DFDFDD;
  background-color: #EEEEEE;
  color:black;
  font-weight:bold;
  width: 25px;
  text-align:center;
}

#week:hover {
  background-color: #B531B5;
  color:white;
}

input:checked + #week {
  border-color: #DFDFDD;
  background-color: #9D009D;
  color:white;
}
#dialog-request {
    font-size: 14px;
}

