.canister 
{
   width:900px;
   margin: 10px auto 0 auto;
   border:2px solid #CC0066;
   border-top-left-radius:15px;
   border-top-right-radius:15px;
}
.canistercontainer 
{
    padding:10px;
}
.canistertitle h2, .canistertitle 
{
    margin:0;
    padding:0px 0 0px 0;
}
.canistertitle 
{
    text-align:center;
    border:2px solid #CC0066; 
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#CC0066;
    color:White;
    height:40px;
    font-size:10pt;
   
}

.none input[type=checkbox]
{
     -webkit-appearance:none;
}
label 
{
    font-size:8pt;   
}
.red 
{
    background-color:Red;   
}
.row 
{
    margin-left:-13px !important; 
    width:inherit !important;  
}
.modulerow 
{
    margin-left:-1px !important;   
}
.moveleft 
{
    margin-right:20px;   
}
.moveright 
{
    margin-left:40px;
}
.moverightarrange 
{
    margin-left:60px;   
}
.leftmarg 
{
    margin-left:10px;   
}
.leftmarglittle 
{
    margin-left:5px;   
}
.topmarg 
{
    margin-top:10px;   
}
input[type=checkbox] 
{
    display:none;   
}
.full 
{
    height:100% !important;
    width:100% !important;   
}
#noRooms
{
    background-color : #F9F9F7;
}
#capacity1
{
    background-color : #F9F9F7;
}
#dept
{
    background-color : #F9F9F7;
    width: 500px;
}
#slider-rooms {
    height: 15px;
    width: 140px;
    padding-left: 5px;
}
#slider-capacity1 {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}
#selectable-wheelchair
{
    width: 200px;
}
td {
    padding-right: 20px;
    padding-bottom: 2px;
}
table
{
    font-family: Franklin Gothic Medium,Helvetica,Arial,sans-serif;
    text-align: left;
    position: relative;
}
.inputs 
{
    position: relative;
    left: 5%;
    top: 63%;
    text-align:left;
    font-size:1em;
    background-color: #F7F7F0;
}
.box_class {
    -moz-border-radius-topright:22px;
    -webkit-border-top-right-radius:22px;
    border-top-right-radius:22px;

    -moz-border-radius-topleft:22px;
    -webkit-border-top-left-radius:22px;
    border-top-left-radius:22px;

	-moz-border-radius-bottomright:22px;
    -webkit-border-bottom-right-radius:22px;
    border-bottom-right-radius:22px;

    -moz-border-radius-bottomleft:22px;
    -webkit-border-bottom-left-radius:22px;
    border-bottom-left-radius:22px;
    
    border: 3px solid #c1c1c1;
    width: 1150px;
	background-color: #f9f9f6;
	padding: 10px;
}
#selectable-session .ui-selecting { 
	background: #FECA40; 
}
#selectable-session .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-session { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-session li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-arrangement .ui-selecting { 
	background: #FECA40; 
}
#selectable-arrangement .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-arrangement { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair .ui-selecting { 
	background: #FECA40; 
}
#selectable-wheelchair .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-wheelchair { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard .ui-selecting { 
	background: #FECA40; 
}
#selectable-whiteboard .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-whiteboard { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector .ui-selecting { 
	background: #FECA40; 
}
#selectable-projector .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-projector { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser .ui-selecting { 
	background: #FECA40; 
}
#selectable-visualiser .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-visualiser { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer .ui-selecting { 
	background: #FECA40; 
}
#selectable-computer .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-computer { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video .ui-selecting { 
	background: #FECA40; 
}
#selectable-video .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-video { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa .ui-selecting { 
	background: #FECA40; 
}
#selectable-pa .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-pa { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic .ui-selecting { 
	background: #FECA40; 
}
#selectable-mic .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-mic { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture .ui-selecting { 
	background: #FECA40; 
}
#selectable-capture .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-capture { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}



    