.canister 
{
   width:900px;
   margin: 10px auto 0 auto;
   border:2px solid #CC0066;
  /* border-top-left-radius:15px;
   border-top-right-radius:15px;*/
}
.canistercontainer 
{
    padding:10px;
}
.canistertitle h2, .canistertitle 
{
    margin:0;
    padding:0px 0 0px 0;
}
.canistertitle 
{
    text-align:center;
    border:2px solid #CC0066; 
   /* border-top-left-radius:10px;
    border-top-right-radius:10px; */
    background-color:#CC0066;
    color:White;
    height:40px;
    font-size:10pt;
   
}

.none input[type=checkbox]
{
     -webkit-appearance:none;
}
label 
{
    font-size:8pt;   
}
.red 
{
    background-color:Red;   
}
.row 
{
    margin-left:-13px !important; 
    width:inherit !important;  
}
.modulerow 
{
    margin-left:-1px !important;   
}
.moveleft 
{
    margin-right:20px;   
}
.moveright 
{
    margin-left:40px;
}
.moverightarrange 
{
    margin-left:60px;   
}
.leftmarg 
{
    margin-left:10px;   
}
.leftmarglittle 
{
    margin-left:5px;   
}
.topmarg 
{
    margin-top:10px;   
}
input[type=checkbox] 
{
    display:none;   
}
.full 
{
    height:100% !important;
    width:100% !important;   
}
/*room preference 1*/
#noRooms
{
    background-color : #F9F9F7;
}
#capacity1
{
    background-color : #F9F9F7;
}
#dept
{
    background-color : #F9F9F7;
    width: 500px;
}
#slider-rooms {
    height: 15px;
    width: 140px;
    padding-left: 5px;
}
#slider-capacity1 {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}
#selectable-wheelchair
{
    width: 200px;
}
td {
    padding-right: 20px;
    padding-bottom: 2px;
}
table
{
    font-family: Franklin Gothic Medium,Helvetica,Arial,sans-serif;
    text-align: left;
    position: relative;
}
.inputs 
{
    position: relative;
    left: 5%;
    top: 63%;
    text-align:left;
    font-size:1em;
    background-color: #F7F7F0;
}
.box_class {
    /*-moz-border-radius-topright:22px;
    -webkit-border-top-right-radius:22px;
    border-top-right-radius:22px;

    -moz-border-radius-topleft:22px;
    -webkit-border-top-left-radius:22px;
    border-top-left-radius:22px;

	-moz-border-radius-bottomright:22px;
    -webkit-border-bottom-right-radius:22px;
    border-bottom-right-radius:22px;

    -moz-border-radius-bottomleft:22px;
    -webkit-border-bottom-left-radius:22px;
    border-bottom-left-radius:22px; */
    
    border-top: 3px solid #c1c1c1;
    border-left: 3px solid #c1c1c1;
    border-right: 3px solid #c1c1c1;
    width: 1150px;
	background-color:#F7F7F0;
	padding: 10px;
}
.box_bottom_class {
    /*-moz-border-radius-topright:22px;
    -webkit-border-top-right-radius:22px;
    border-top-right-radius:22px;

    -moz-border-radius-topleft:22px;
    -webkit-border-top-left-radius:22px;
    border-top-left-radius:22px;

	-moz-border-radius-bottomright:22px;
    -webkit-border-bottom-right-radius:22px;
    border-bottom-right-radius:22px;

    -moz-border-radius-bottomleft:22px;
    -webkit-border-bottom-left-radius:22px;
    border-bottom-left-radius:22px; */
    
    border-top: 3px solid #c1c1c1;
    border-left: 3px solid #c1c1c1;
    border-right: 3px solid #c1c1c1;
    border-bottom: 3px solid #c1c1c1;
    text-align: center;
    width: 1150px;
	background-color: #f9f9f6;
	padding: 10px;
}
#selectable-session .ui-selecting { 
	background:#ca006c ; 
}
#selectable-session .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-session { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-session li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-arrangement .ui-selecting { 
	background: #ca006c; 
}
#selectable-arrangement .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-arrangement { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair .ui-selecting { 
	background: #ca006c; 
}
#selectable-wheelchair .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-wheelchair { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard .ui-selecting { 
	background: #ca006c; 
}
#selectable-whiteboard .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-whiteboard { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector .ui-selecting { 
	background: #ca006c; 
}
#selectable-projector .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-projector { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser .ui-selecting { 
	background: #ca006c; 
}
#selectable-visualiser .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-visualiser { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer .ui-selecting { 
	background: #ca006c; 
}
#selectable-computer .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-computer { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video .ui-selecting { 
	background: #ca006c; 
}
#selectable-video .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-video { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa .ui-selecting { 
	background: #ca006c; 
}
#selectable-pa .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-pa { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic .ui-selecting { 
	background: #ca006c; 
}
#selectable-mic .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-mic { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture .ui-selecting { 
	background: #ca006c; 
}
#selectable-capture .ui-selected { 
	background: #ca006c; color: white; 
}
#selectable-capture { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}

/*room preference 2*/
#capacity2
{
    background-color : #F9F9F7;
}
#slider-capacity2 {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}
#selectable-wheelchair2
{
    width: 200px;
}
#selectable-arrangement2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-arrangement2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-arrangement2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement2 li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-wheelchair2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-wheelchair2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-whiteboard2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-whiteboard2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-projector2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-projector2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-visualiser2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-visualiser2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-computer2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-computer2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-video2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-video2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-pa2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-pa2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa2 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-mic2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-mic2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture2 .ui-selecting { 
	background: #CA006C; 
}
#selectable-capture2 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-capture2 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture2 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*room preference 3*/
#capacity3
{
    background-color : #F9F9F7;
}
#slider-capacity3 {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}
#selectable-wheelchair3
{
    width: 200px;
}
#selectable-arrangement3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-arrangement3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-arrangement3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement3 li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-wheelchair3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-wheelchair3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair3 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-whiteboard3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-whiteboard3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard3 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-projector3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-projector3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector3 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-visualiser3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-visualiser3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser3 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-computer3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-computer3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer3 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-video3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-video3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video3 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-pa3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-pa3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa3 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-mic3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-mic3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic3 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture3 .ui-selecting { 
	background: #CA006C; 
}
#selectable-capture3 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-capture3 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture3 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*room preference 4*/
#capacity4
{
    background-color : #F9F9F7;
}
#slider-capacity4 {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}
#selectable-wheelchair4
{
    width: 200px;
}
#selectable-arrangement4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-arrangement4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-arrangement4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement4 li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-wheelchair4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-wheelchair4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair4 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-whiteboard4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-whiteboard4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard4 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-projector4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-projector4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector4 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-visualiser4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-visualiser4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser4 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-computer4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-computer4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer4 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-video4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-video4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video4 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-pa4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-pa4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa4 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-mic4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-mic4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic4 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture4 .ui-selecting { 
	background: #CA006C; 
}
#selectable-capture4 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-capture4 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture4 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*room preference 5*/
#capacity5
{
    background-color : #F9F9F7;
}
#slider-capacity5 {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}
#selectable-wheelchair5
{
    width: 200px;
}
#selectable-arrangement5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-arrangement5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-arrangement5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangement5 li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-wheelchair5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-wheelchair5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-wheelchair5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchair5 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboard5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-whiteboard5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-whiteboard5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboard5 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projector5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-projector5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-projector5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projector5 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiser5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-visualiser5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-visualiser5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiser5 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computer5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-computer5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-computer5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computer5 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-video5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-video5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-video5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-video5 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-pa5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-pa5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-pa5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-pa5 li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-mic5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-mic5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-mic5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-mic5 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capture5 .ui-selecting { 
	background: #CA006C; 
}
#selectable-capture5 .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-capture5 { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capture5 li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*Day*/
#selectable-day .ui-selecting { 
	background: #F9F9F7; 
}
#selectable-day .ui-selected { 
	background: #CA006C; color: white; 
}
#selectable-day { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; background: #F9F9F7; 
}
#selectable-day li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
/*week checkbox*/
.vis-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#week {
  margin: 10px;
  padding: 5px;
  border: 1px solid #DFDFDD;
  background-color: #EEEEEE;
  color:black;
  font-weight:bold;
  width: 25px;
  text-align:center;
}

#week:hover {
  background-color: #f888c4;
  color:white;
}

input:checked + #week {
  border-color: #DFDFDD;
  background-color: #CA006C;
  color:white;
}
/* Add New Private Room*/

#capacityPr
{
    background-color : #F9F9F7;
}
#slider-capacityPr {
    height: 15px;
    width: 800px;
    padding-left: 5px;
}

#selectable-wheelchairPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-wheelchairPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-wheelchairPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-wheelchairPr li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-whiteboardPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-whiteboardPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-whiteboardPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-whiteboardPr li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-projectorPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-projectorPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-projectorPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-projectorPr li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-visualiserPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-visualiserPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-visualiserPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-visualiserPr li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-computerPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-computerPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-computerPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-computerPr li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}

#selectable-videoPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-videoPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-videoPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-videoPr li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-paPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-paPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-paPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-paPr li { 
	margin: 3px; padding: 1px; float: left; width: 100px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-micPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-micPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-micPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-micPr li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-capturePr .ui-selecting { 
	background: #FECA40; 
}
#selectable-capturePr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-capturePr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-capturePr li { 
	margin: 3px; padding: 1px; float: left; width: 170px; height: 25px; font-size: 1.0em; text-align: center; 
}
#selectable-arrangementPr .ui-selecting { 
	background: #FECA40; 
}
#selectable-arrangementPr .ui-selected { 
	background: #F39814; color: white; 
}
#selectable-arrangementPr { 
	list-style-type: none; margin: 0; padding: 0; width: 350px; 
}
#selectable-arrangementPr li { 
	margin: 3px; padding: 1px; float: left; width: 70px; height: 25px; font-size: 1.0em; text-align: center; 
}
    