.canister 
{
   width:400px;
   margin-left: 425px;
   margin-top: 50px;
   border:2px solid #b6b7bc;
   border-top-left-radius:15px;
   border-top-right-radius:15px;
}
.canistercontainer 
{
    padding:10px;
}
.errorcontainer 
{
    margin-top:20px;
}
.canistertitle h2, .canistertitle 
{
    margin:0;
    padding:5px 0 5px 0;
}
.canistertitle 
{
    text-align:center;
    border:2px solid #f1f2ed;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#f1f2ed;
    color:#45186d;
   
}
.errormessage 
{
    font-size:20pt;
    color:red;   
}
label 
{
    font-size:12pt;   
}
a 
{
       pointer-events:none !important;
}
ul li 
{
    background-color:#f1f2ed !important;
       
}
.navbar ul li:first-child, .navbar ul li:first-child:hover
{
    
    cursor:default !important;
}
ul li:hover 
{
   
    cursor:not-allowed !important;
}
